*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}

.mt-10{
  margin-top: 5rem;
}